/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f8f8;
  color: #444;
  line-height: 1.6;
  padding: 2rem;
}

/* HEADER */
.header-simple {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}

.header-link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  color: #111;
  letter-spacing: 0.5px;
}

.header-link:hover {
  opacity: 0.6;
}


/* HERO */
.hero {
  max-width: 800px;
  margin: 10px auto;
  text-align: center;
}

header h1 {
  font-weight: 600;
  font-size: 2rem;
  color: #4a5d3b;
}

.intro-text {
  font-size: 16px;
}

/* ETAPAS */
.etapas {
  text-align: center;
  padding: 50px 0px;
}

.etapas h2 {
  font-size: 26px;
  margin-bottom: 30px;
}

.cards-container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.card {
  background: white;
  padding: 35px 25px;
  border-radius: 16px;
  box-shadow: 0px 3px 14px rgba(0,0,0,0.07);
  transition: 0.2s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.card h3 {
  font-size: 20px;
  font-weight: 600;
}

/* Special card */
.card.special {
  background: #556b2f; /* Verde musgo */
  color: white;
}

/* BLOG */
.blog {
  padding: 60px 0px 100px;
  text-align: center;
}

.blog h2 {
  font-size: 32px;
  margin-bottom: 40px;
}

.blog-grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.blog-card {
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0px 3px 14px rgba(0,0,0,0.07);
  text-align: left;
}

.blog-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  padding: 40px 0;
  text-align: center;
  background: #fff;
  border-top: 1px solid #e3e3e3;
  margin-top: 80px;
}

footer p {
  opacity: 0.6;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .intro-text {
    font-size: 15px;
    text-align: left;
  }
  
  .blog-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}














